/**
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
@import "tailwindcss";

:root {
  /**
  --medgrey: #e0e0e0;
  --grey: #f7f7f7; */
  --white: #fff;
  --primary: #c2e8df;
  --darkgrey: #d4d4d4;
  --aqua: #a4c4bc;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: var(--primary);
}

.User-bold {
  font-weight: 600;
}

.User-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.User-link:hover {
  color: var(--aqua);
}

.spacer {
  height: 10%;
}
