.Feed-container {
  width: 100%;
  min-height: 100vh;
}

.Feed-review {
  height: 100vh;
  margin: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
