.Feed-container {
  width: 100%;
  background-color: var(--primary);
}

.Feed-review {
  width: 100%;
  height: 100vh;
  margin: 0;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
