.Home-container {
  width: 100vw;
  height: 100vh;
}

.Home-main {
  width: 100vw;
  height: 100vh;
  min-height: 1050px;

  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}
