.Profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  max-width: 800px;
  margin: 0 auto;
}

.Profile-avatarContainer {
  width: 200px;
  margin-top: 2em;
}

.Profile-avatar {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;

  padding-top: 100%;
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: var(--white);

  background-size: cover;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Profile-name {
  font-size: 2.4em;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5em;
}

.Profile-line {
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  height: 1px;
  background-color: var(--aqua);
}

#Profile-description {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 2em;
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 1.5em;
  margin: var(--m) var(--s);
}
