.Input-input,
.Input-button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.Input-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  margin-bottom: var(--s);
}

.Input-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.Input-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s,
}

.Input-button:hover {
  color: var(--white);
  background-color: var(--primary);
}

.Input-input-wrap.ProductAutocomplete,
.Input-input-wrap.BrandAutocomplete {
  margin-bottom: var(--s);
}

.Input-container {
  display: flex;
  flex-direction: column;
  padding: var(--xs);
  margin: var(--xs) 10%;
  background-color: var(--white);
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h2 {
  margin-top: 0;
  margin-bottom: var(--m);
  color: var(--primary);
}

/* comment components to be smaller */
.Comment-input.Input-input {
  font-size: 10px;
  padding: 0;
  height: 6px;
}

.Comment-input.Input-input[type="textarea"] {
  height: 60px;
  max-height: 80px;
  resize: vertical;
}

.Comment-input .Input-button {
  font-size: 2px;
  padding: 4px 8px;
}
