.New-reviewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.New-commentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding: 5px;
  background-color: white;
}

.New-input {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.New-input[type="textarea"] {
  resize: vertical;
}

.New-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.New-button {
  padding: 0px 0px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  max-height: 50%;
}

.New-button:hover {
  background-color: var(--primary);
}

.New-button:focus {
  outline: none;
}

/* Error Alerts (if needed) */
.alert {
  color: #ff4d4d;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: bold;
}
