.NewInput-input,
.NewInput-button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.NewInput-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
}

.NewPostInput-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
}

.NewPostInput-button:hover {
  color: var(--white);
  background-color: var(--primary);
}
