.Review-container {
  background-color: var(--white);
  display: flex;
  align-items: stretch;
}

.Review-left,
.Review-right {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Review-center {
  flex: 4;
  border: teal 1px solid;
  border-radius: var(--m);
}

.Review-body,
.Review-commentSection {
  padding: var(--m) var(--l);
}

.Review-content {
  font-size: 16px;
  margin: var(--s) 0 0;
}

.Review-commentSection {
  background-color: var(--aqua);
  border-top: 1px solid var(--darkgrey);
}

.Review-commentBody {
  margin: 0 0 var(--s);
}

.Review-image {
  max-width: 150px;
  height: auto;
}
