.Review-container {
  background-color: transparent;
  display: flex;
  align-items: stretch;

}

.Review-left,
.Review-right {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Review-center {
  flex: 4;
  box-shadow: 0 0 4px rgba(0, 128, 128, 0.5);

  border-radius: var(--m);
}

.Review-body,
.Review-commentSection {
  padding: var(--s);
}

.Review-content {
  font-size: 16px;
  margin: var(--s) 0 0;
}

.Review-commentSection {
  background-color: var(--aqua);
  border-top: 1px solid var(--darkgrey);
  border-radius: var(--m);
}

.Review-commentBody {
  margin: 0 0 var(--s);
}

.Review-image {
  max-width: 150px;
  height: auto;
}

.review-body {
  margin-top: 0.75rem;
}

.review-image {
  margin-top: 1rem;
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: var(--m);
}

.Review-link {
  text-decoration: none;
  color: inherit;
}

.Review-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--teal);
}

/* New styles for filling comments block whitespace */
.Review-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height of parent */
}

.Review-content-wrapper > .Review-commentSection {
  flex-grow: 1;
}

.review-card {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: var(--m);
  padding: var(--s);
  box-shadow: 0 0 4px rgba(0, 128, 128, 0.5);
}
